[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "maestro"]
	path = maestro
	url = https://github.com/whipson/maestro
[submodule "schematic"]
	path = schematic
	url = https://github.com/whipson/schematic
